.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 650px;
  max-width: 960px;
  background: #fff;
  padding: 2.5rem;
  border-radius: 25px;
  margin-bottom: 15px;
}

.close{
  font-size: 1.25rem;
  color: red;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.update{
  font-size: 1.25rem;
  color: blue;
  padding: 10px;
  cursor: pointer;
}

.addWrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem
}

.addList {
  padding: 0.25rem 0.25rem;
  border-radius: 6px;
  margin-right: 1rem;
}

.listButton{
  padding: 0.5rem 0.75rem;
  background-color: #fb3182;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}

.listButton:hover{
  background-color: #fd5e9e;
}